.HeadItemContainer{
    width: 100%;
    height:12%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    color:rgba(255, 255, 255, 1);
}
.HeadNavTitle{
    font-size: 24px;
    margin:1% 0;
}
.btntxt{
    font-size: 18px;
}
.HeadNavButtonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    width: 29%;
}
.HeadNavbtnCntr{
    box-sizing: border-box;
    box-sizing: border-box;
    height: 42px;
    cursor: pointer;
    background-color: rgba(255, 97, 158, 1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:12px;
    width:46%;
}
.btntext{
    padding-left: 10px;
    font-size: 15px;
    color:#fff;
}
/* .HeadNavbtn{
    
    background-color: rgba(255, 97, 158, 1);
    height:42px;
    box-sizing: border-box;
    width:40%;
    font-size: 18px;
    margin-left: 5%;
    padding:12px 26px;
    display: inline-block;
    align-items: center;
    width:50%;
    margin-bottom: 10px;
} */