
.gridcontanier{
    display:grid;
    grid-template-columns:65% 35%;
    height: 100vh;
    background-color:  #7563EB;

}
.gridcontanier1{
 border-top-right-radius: 270px;
 border-bottom-right-radius: 270px;
 background-color: white;

}
.box{
    position: absolute;
    z-index: 1;
    left: 47%;
    top: 5%;
    background-color: #FF619E;
    width:40%;
    height:90vh;
    text-align: center;
    padding:4% 0;
}
.boxText{
    color:white;
    font-size:24px;
    padding:6% 15% 10% 15%;
}

.todo{
    margin:0;
    color:white;
    font-size:21px;
    font-style: bold; 
}
.todoText{
    color:white;
    font-size:16px;
    padding-top: 50px;
    padding-bottom:4%;
}
.LastText{
    padding-top: 50px;
    color:white;
    font-size:11px;
}

.Googlesign{
    cursor: pointer;
    padding: 0;
    border: none;
    background-color:#FF619E;
    }
.networkimage{
   position: absolute;
   top: 25%;
   left: 10%;
}
.hide{
    display:none;
}
.googleAuthMobile{
    background-color: #7563EB;
}
@media only screen and (min-width: 415px) {
    .hide_in_web{
        display: none;
    }
}
@media only screen and (max-width: 414px) {
    .hide_in_mob{
        display: none;
    }
}
