
*{
    font-family: Montserrat;
         /* color:white; */
}
.gridcontanier{
    display:grid;
    grid-template-columns:65% 35%;
    /* grid-template-rows: 40rem ; */
    height: 100vh;
    /* border: 1px solid red; */
    background-color:  #7563EB;

}
.gridcontanier1{
 /* border: 1px solid black; */
 border-top-right-radius: 270px;
 border-bottom-right-radius: 270px;
 background-color: white;

}
.gridcontanier2{
    /* background-color: #8c1aff; */
    /* border-radius: 200px; */
    shape-outside: circle(50%);
}
.box{
    position: absolute;
    z-index: 1;
    left: 47%;
    top: 5%;
    background-color: #FF619E;
    width:40%;
    height:90vh;
    text-align: center;
}
.boxText{
    color:white;
    font-size:24px;
    padding:30px 40px;


}
.todoText{
    color:white;
    font-size:21px;
    font-style: bold;
}
.LastText{
    padding: 100px;
    color:white;
    font-size:11px;
    /* font-style: bold; */
}
.Googlesign{
    border:none;
    background-color:#FF619E;
    /* width-left:10px; */
}
.networkimage{
   position: absolute;
   top: 25%;
   left: 10%;
}
