.MyProfile{
    margin-top:15%;
    width:88%;
    height:330px;
    /* border: 1px solid red; */
    display: flex;
}
.profile{
    width:13%;
    /* border:1px solid red; */
    height:150px;
}
.ProfilePhoto{
    width:100%;
    height:100px;
    border:2px solid white;
    margin-top:5%;
}
.ProfilePhoto2{
    width:100%;
    height:100px;
}
.subdiv{
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    padding-left: 7%;
    height: 330px;
    margin-left: 50px;
    width:71%;
    
  }
  .ProfileName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    /* border:1px solid red;  */
    margin-top:2%; 
    /* width:100%; */
}
.ProfileDetails{
    width:70%;
    
}

.ProfileEmail,.ProfilePhone{
    display: flex;
    align-items: center;
    padding:5% 0 5% 0;
    /* justify-content: space-around; */

}
.contactDetails{
    padding-left: 10%;
    font-size:17px;
    color: white;
}

.Edit{
    font-size: 13px;
    color:white;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 10px;
    
    font-weight:normal;
    margin:0;
}
.EditProfileName{
    /* color:#9C94F9; */
    color:white;
    font-weight: bold;
    display:grid;
    grid-template-columns: auto auto;
    /* justify-content: space-between; */
    grid-column-gap: 2%;
}
.EditButtons{
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / 2;
    /* padding:10px; */
}
.inputfield{
    width:100%;
    height:4vh;
    margin-top:10px;
    color:#9C94F9;
    /* padding:10px; */
}
