.MyProfile{
    margin-top:15%;
    width:100%;
    height:330px;
    display: flex;
}
.profilePictureDiv{
    width:93px;
}
.ProfilePhotoMainDiv{
    margin-top:32%;
    width:93px;
    height:100px;
    border:2px solid white;
}
.ProfilePhoto{
    width:93px;
    height:100px;
}
.EditProfile{
    font-size: 13px;
    color:white;
    text-decoration: underline;
    padding-left: 20%;
}
.ProfileDetails{
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    padding-left: 7%;
    height: 330px;
    margin-left: 50px;
    /* width:71%;*/
    max-width: 75%;
    min-width: 50%;

}
  .ProfileName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    margin-top:2%; 
}
.Edit{
    font-size: 13px;
    color:white;
    text-decoration: underline;
}
.Profilecontent{
    /* width:70%; */
    max-width: 70%;
    min-width: 50%;
    
    
}
.ProfileEmail,.ProfilePhone{
    display: flex;
    align-items: center;
    padding:5% 0 5% 0;
}
.contactDetails{
    padding-left: 10%;
    font-size:17px;
    color: white;
}
.EditProfileName{
    color:white;
    font-weight: bold;
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2%;
}
.EditButtons{
    display: flex;
    justify-content: flex-end;
}
.CancelButtons,.SaveButtons{
    font-size: 13px;
    color:white;
    font-weight:normal;
    text-decoration: underline;
    padding-left:6px;
}
.inputfield{
    width:100%;
    height:4vh;
    margin-top:10px;
    color:#9C94F9;
}
.buttonHide{
   visibility: hidden;
   width:13%;
}
.errorText{
    font-size: 13px;
    color:red;
    font-weight: normal;
    /* visibility: hidden; */
    display: none;
}