*{
    font-family: Montserrat;
}
.ItemContainer{
    width: 100%;
    border:1px solid;
    border-radius: 6px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    color:#7563EB;
    background-color: #FFFFFF;
    margin-top: 10px;
    position: relative;
    
}
.StatusNoneIcon{
    margin: 20px;
    color:hsla(336, 100%, 69%, 1);
}
.taskData{
    width: 60.7%;
    font-size: 13px;
    padding-top: 15px;
    border:none;
}
.taskData1{
    width:64.7%;
    height: 40px;
    margin-top: 16px;
    margin-left: 25px;
    margin-bottom: 23px;
    color:#7563EB;
    border: none;
    border-bottom: 1px solid lightgray;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    /* text-overflow: none; */
    /* word-break: break-all; */
}
.taskData1:focus{
    outline: none;
}
.editTaskButtons{
    width: 34%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-left: 40px;

}

.actionIconsHover{
    padding:0 50px 0 45px;
    border-radius: 4px;
}
.actionIconsHover:hover{
    background-color:rgba(156, 148, 249, 0.2);
}
.SaveIcon,.CancelIcon{
    padding-top:30px;
    font-size: 30px;
    color: #FF619E;
}
.AddTask{
    float: right;
}
.display{
    color:white;
}

.dataClass{
    font-size: 18px;
    color:rgba(255, 255, 255, 1);

}
 .calender-class-reschedule {
    position: fixed;
    top: 32.7%;
    left: 65.2%;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 5px;
  }

.noDataFound{
    margin:0 auto;
    padding:30% 0 0 20%;
    color:#FFFFFF;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width:50%;
}
.active_item{
    opacity: 1;
    
}
.inactive_item{
    opacity: 0.7;
}
.active_item1{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1366px) ,screen and (max-height:644px) {
    .calender-class-reschedule{
        top: 36.7%;
        left: 66.5%
    }
}

 
@media screen and (max-width: 1366px) ,screen and (max-height:644px) {
    .actionIconsHover{
    padding:0 43px 0 35px;
    }
    }