.DontEditThisClass{
    /* padding:1.5% 8%; */
    /* width:84%;  */
    position:relative;
    margin-left:14%;
    width:86%;
    padding-left: 0;
    /* z-index: -1; */
    min-height: 93.7vh;
}
.Tasklists1{
    padding:1.5% 8% 1.5% 0%;
    background-image: linear-gradient(to right, #9C94F9,#7563EB);
}