
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 23%;
    position: fixed;
    top: 80%;
    left: calc(100% - 63%);
    background-color: #0C0D2C;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 11px;
    padding: 4px;
    margin: 3px;
  }
  .flex-container img {
      width: 30px;
      margin: 7px;
      margin-top: 12px;
      color: #FFFFFF;
    }
    .flex-container .text-display {
      width: 75%;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 400;
      margin: 9px;
    }
    .flex-container .undo {
      width: 10%;
      text-align: center;
      font-size: 14px;
      margin: 13px;
    }
    .undo span{
        color: #FF619E;
        cursor: pointer;
        font-weight:600;
        text-decoration: underline;
        
    }
    @keyframes Animation {
      0%   {top:100%;}
      25%  {top:95%;}
      50%  {top:85%;}
      100% {top:80%;}
    }
    .tostAnimation{
      animation: Animation 0.5s ease-out;
    }
