.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 23%;
    position: absolute;
    top: 80%;
    left: 35%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 4px;
    box-shadow: 0pt 3pt 6pt;
  }
  .flex-container img {
      width: 25px;
      margin: 5px;
      margin-top: 10px;
      color: #FFFFFF;
    }
    .flex-container .text-display {
      width: 80%;
      color: #FFFFFF;
      margin: 9px;
    }
    .flex-container .undo {
      width: 10%;
      text-align: center;
      font-size: 14px;
      margin: 15px;
    }
    .undo {
        color: #FF619E;
        text-decoration: underline;
    }