.App {
    background-color:#9C94F9;
    width:100vw;
    height: 100vh;
  }
  .AppDiv{
    position: fixed;
    top:20%;
    left: 35%;
  }
  .profilePic{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
  
  }
  .welcome{
    color: white;
    font-weight: bold;
    margin: 0 0 6% 0;
  }
  .messageBox{
    background-color: #FFFFFF;
    color: #7563EB;
    position: relative;
    left: 13%;
    width: 55%;
    border-radius: 3px;
    padding: 35px 45px;
    
  }
  .messageBox p{
    font-size: 16px;
    line-height: 25px;
  }
  .button{
    background-color: #FF619E;
    width: 74.7%;
    margin-top: 3.5%;
    margin-left: 5px;
    padding: 2%;
    border:none;
    cursor: pointer;
    }
  