.App {
    background-color:#9C94F9;
    font-family: "Montserrat";
    width:100vw;
    height: 100vh;
  }
  .AppDiv{
    position: fixed;
    top:20%;
    left: 35%;
  }
  .profilePic{
    width: 64px;
    height: 64px;
    border-radius: 5px;
  }
  .welcome{
    color: white;
    font-weight: bold;
    margin: 0 0 6% 0;
  }
  .messageBox{
    background-color: #FFFFFF;
    color: #7563EB;
    position: relative;
    left: 12%;
    width: 55%;
    border-radius: 3px;
    padding: 35px 45px;
    box-shadow:  0px  2px 4px;
    
  }
  .messageBox p{
    font-size: 16px;
    line-height: 25px;
  }
  .button{
    background-color: #FF619E;
    width:  74.7%;
    margin-top: 3.5%;
    padding: 2%;
    box-shadow: 0pt 1px 3px;
    border:none;
  }
  